{% extends "cam2intro/header.html" %}

{%block content %}
<style>
       #map {
        height: 400px;
        width: 100%;
       }
    </style>
 <script>
function startTime() {
    var today = new Date();
    var h = today.getHours();
    var m = today.getMinutes();
    var s = today.getSeconds();
    m = checkTime(m);
    s = checkTime(s);
    document.getElementById('txt').innerHTML =
    h + ":" + m + ":" + s;
    var t = setTimeout(startTime, 500);
}
function checkTime(i) {
    if (i < 10) {i = "0" + i};  // add zero in front of numbers < 10
    return i;
}
</script>
     <h1> <font size = 100 > Time </font> </h1>
                     
     <hr> 
     <div id = "txt" style = "font-size: 500%" align = "center"> </div>
         
     <h1 > <font size = 100> Map Marker </font> </h1>
     <hr> 
      <div id="map"></div>
    <script>
      function initMap() {
        var uluru = {lat: -25.363, lng: 131.044};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 4,
          center: uluru
        });
        var marker = new google.maps.Marker({
          position: uluru,
          map: map
        });
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDJtpm9ugsMf_53CUDXY9NQit2qu5qnvs8
&callback=initMap">
    </script>
{%endblock%} 
